<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-icon style="font-size:40px; background: #978441; 
  border-radius: 100%; position: fixed; bottom: 30px;
   right:20px; z-index: 1"
    name="add" (click)="addBook()"></ion-icon>
  <h1 style=text-align:center>Movies</h1>

  <ion-list>
    <ion-item *ngFor="let book of books">

      <ion-label (click)="getPrice(book.price)" text-wrap [ngClass]="{'isNotAvailable': (book.availability==false)}">{{book.name}}</ion-label>
      <ion-icon style="font-size: 30px" name="trash" (click)="removeBook(book.id)"></ion-icon>
      <ion-icon style="font-size: 30px; margin-left: 10px" name="create" (click)="editBook(book.id)"></ion-icon>

    </ion-item>
  </ion-list>

</ion-content>