<ion-header>
  <ion-toolbar>
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1 style=text-align:center>Edit a book</h1>

  <form [formGroup]="book" (ngSubmit)="onSubmit()">

    <ion-item>
      <label style="width: 20%">Name:</label>
      <input type="text" formControlName="name" [(ngModel)]="name">
    </ion-item>

    <ion-item>
      <label style="width: 20%">Price:</label>
      <input type="number" formControlName="price" [(ngModel)]="price">
    </ion-item>

    <ion-item>
      <label style="width: 20%">Isbn:</label>
      <input type="text" formControlName="isbn" [(ngModel)]="isbn">
    </ion-item>

    <ion-radio-group formControlName="availability">
      <h4 style="text-align: center">
        Availability
      </h4>
      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label> Available</ion-label>
            <ion-radio value="true"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label>Not available</ion-label>
            <ion-radio value="false"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-radio-group>

    <ion-button color="secondary" expand="full" type="submit" block [disabled]="!book.valid" style="margin-top: 20px;">
      Edit</ion-button>
  </form>
</ion-content>